<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StorageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StorageService.Properties.Settings>
            <setting name="AzureStorageServiceConnectionString" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=infnetstorage;AccountKey=9By1s2Y2Oh/NPULIH6ads5OPa3dtI5BZEa1u1BDbZqhC0Szy5u8rdMbtVyWJglHJW96I9w7Lg5y9RXUoGO8g0Q==;EndpointSuffix=core.windows.net</value>
            </setting>
        </StorageService.Properties.Settings>
    </applicationSettings>
</configuration>